

<div class="container-fluid">

    <div class="page-header">
        <h1>Repository Details <small>{{repo.name}}</small></h1>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20px;">
            <a class="btn btn-default" href="/"><i class="fa fa-home"></i> Home </a>
        </div>
        <!-- User Details -->

        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="{{repo.owner.html_url}}" target="_blank">{{repo.owner.login}} <i style="font-size: 12px;" class="fa fa-external-link"></i></a>
                    </h3>
                </div>
                <div class="panel-body" style="height: 180px">
                    <div class="col-sm-2">
                        <img ng-src="{{repo.owner.avatar_url}}" class="img-responsive" width="150" height="150"/>
                    </div>
                    <div class="col-sm-10">
                        <h2 style="margin-top: 6px;">{{repo.name}}</h2>
                        <p>{{repo.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-line-chart"></i> Repository Statistics
                    </h3>
                </div>
                <div class="panel-body" style="height: 180px;">
                    <p>
                        <i class="fa fa-star"></i>
                        <a ui-sref="RepoStatistics({ username: repo.owner.login, reponame: repo.name })"> {{repo.stargazers_count}} Stars</a>
                    </p>
                    <p>
                        <i class="fa fa-code-fork"></i>
                        <a ui-sref="RepoStatistics({ username: repo.owner.login, reponame: repo.name })"> {{repo.forks_count}} Forks</a>
                    </p>
                    <p>
                        <i class="fa fa-eye"></i> {{repo.watchers_count}} Watchers
                    </p>
                    <p>
                        <i class="fa fa-exclamation-circle"></i> {{repo.open_issues_count}} Open Issues
                    </p>
                    <p>
                        <i class="fa fa-users"></i> {{repo.subscribers_count}} Subscribers
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Repo Details -->
    <div class="row">

        <!-- Commit History -->
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-commenting"></i> Commit History ({{repo.commits.length}})
                    </h3>
                </div>
                <div class="panel-body commits-panel">
                    <div class="commit" ng-repeat="commit in repo.commits">
                        <div class="row commit-item">
                            <div class="col-sm-3" style="text-align: center;">
                                <img ng-src="{{commit.author.avatar_url}}" width="50" height="50"/>
                                <div>{{commit.commit.author.name}}</div>
                            </div>
                            <div class="col-sm-9">
                                <p style="color: #8a8a8a; text-align: right">
                                    <i class="fa fa-clock-o"></i> {{commit.commit.author.date}}
                                </p>
                                <p>
                                    <i class="fa fa-quote-left" style="font-size: 8px; vertical-align: 5px;"></i> {{commit.commit.message}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-code"></i> Languages
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="languages-bar-chart"></div>
                </div>
            </div>
        </div>

    </div>
</div>